<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https:??fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- navbar -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    <title>Maps</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" >
          <a class="navbar-brand" href="#"style="color:white">Outage</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/"style="color:#b8bbbe">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile"style="color:#b8bbbe">Profile</a>
              </li>       
            <li class="nav-item">
              <a class="nav-link" href="/poll"style="color:#b8bbbe">Poll</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/docs"style="color:#b8bbbe">Docs</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/about"style="color:#b8bbbe">About</a>
            </li>
          </ul>
          <div class= "buttonz"style="float:right; padding:15px; 15px;">
            <div style="display:inline-block; margin-right:1rem;"><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></div>
            <div style="display:inline-block;"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></div>
          </div>
        </div>
        </div>
    </nav>
    <style>
        
        li{
            color:#b8bbbe;
            display: inline-block;
        }
    </style>
<!-- Messages -->
<!-- Conncetions -->
<!-- Favorited Comments -->
<!-- Favorited docs -->

    
</body>
</html>


